/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
    --main-font-bold: 785;
    --main-font-normal: 465;
    --background-color: #000;
    --accent-color: #00CC14;
    --gragient-horizontal-color: #000;
    --gragient-vertical-start-color: #007f0c;
    --gragient-vertical-end-color: #004306;
    --heard-conture: #00CC14;
    --heard: #FF0000;
    --color-button-hover: rgb(0 204 20/ 0.6);
    --button-text: #00CC14;
}

:root.theme-light {
    --main-font-bold: 700;
    --main-font-normal: 400;
    --background-color: #FFF;
    --accent-color: #000;
    --gragient-horizontal-color: #d3d3d3;
    --gragient-vertical-start-color: #e7e7e7;
    --gragient-vertical-end-color: #1a1a1a;
    --header-title-size: 65px;
    --header-text-size: 23px;
    --heard-conture: black;
    --heard: #FF0000;
    --color-button-hover: rgb(0 0 0/ 0.6);
    --button-text: #FFF;
}


@media (prefers-color-scheme: dark) {
    :root {
        --inter-bold: 785;
        --inter-normal: 465;
        --background-color: #000;
        --accent-color: #00CC14;
        --gragient-horizontal-color: #000;
        --gragient-vertical-start-color: #007f0c;
        --gragient-vertical-end-color: #004306;
        --heard-conture: #00CC14;
        --heard: #FF0000;
        --color-button-hover: rgb(0 204 20/ 0.6);
        --button-text: #00CC14;
    }
   
}

